@theme {
  /** Background Colors */
  --color-page: #070c1c;
  --color-card: #1e2031;
  --color-raised: #2a2c3d;

  /** Text Colors */
  --color-primary: #ffffff;
  --color-secondary: #a9a9a9;
  --color-disabled: #505261;

  /** Helper Colors */
  --color-helper-red: #ec3013;
  --color-helper-green: #4ade80;
  --color-helper-orange: #e27e04;

  /** Tint Colors */
  --color-tint-white: #ffffff1a;
  --color-tint-red: #ec30131a;
  --color-tint-green: #4ade801a;
  --color-tint-warning: #e27e041a;
}
